* {
box-sizing: border-box;
}
.menu {
  width: 33%;
  height: 100%;
  padding-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  background-color: white;
}

.main {
  border-radius: 25px;
  width: 67%;
  height: 100%;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  float: left;
  background-color: black;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
body {background-color: white;}
h3   {color: black;text-align: center;font-family: "Computer Modern";}
h2   {color: white;text-align: center;font-family: "Computer Modern";}
p    {color: white;text-align: center;font-family: "Computer Modern";}


IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }
