* {
box-sizing: border-box;
}
.logo {
  width: 33%;
  height: 10%;
  padding-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  background-color: white;
}
.menu {
  width: 33%;
  height: 90%;
  padding-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  background-color: white;
}

.main {
  border-radius: 25px;
  width: 67%;
  height: 100%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  float: left;
  background-color: black;
}
/*@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }*/
@@font-face {
  font-family: "Oswald";
  src: url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
}

body {background-color: white;}
h4   {color: black;text-align: center;font-family: 'Oswald', sans-serif;}
h3   {color: black;text-align: center;font-family: 'Oswald', sans-serif;}
h2   {color: white;text-align: center;font-family: 'Oswald', sans-serif;}
p    {color: white;text-align: center;font-family: 'Oswald', sans-serif;}


IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }

  .slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
